In [1]:
import sklearn
print('scikit-learn version:', sklearn.__version__)
import warnings
warnings.filterwarnings('ignore')
import regex as re

import datetime
import numpy as np
import pandas as pd
import seaborn as sns
# import pandasql as ps
import matplotlib.pyplot as plt
%matplotlib inline

print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

from mpl_toolkits.mplot3d import Axes3D

from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier
from imblearn import over_sampling
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from collections import Counter
from sklearn.model_selection import cross_val_score, StratifiedKFold

scikit-learn version: 1.6.1
numpy version :  2.1.3
pandas version :  2.2.3
seaborn version :  0.13.2

In [ ]:
df_1 = pd.read_csv("E:\Coding\PEFindo\data\credit_scoring.csv")
df_2 = pd.read_csv("E:\Coding\PEFindo\data\e_commerce_transactions.csv")

In [3]:
df_1

,application_id,age,monthly_income,loan_amount,previous_defaults,credit_score,default,leak_col_good,leak_col_subtle
0,501000,41,13995609,5982664,0,624,0,0,-0.040
1,501001,58,13683833,3711198,0,809,0,0,0.001
2,501002,33,9417391,7172332,0,647,0,0,0.077
3,501003,45,6861811,8661056,0,450,0,0,0.038
4,501004,22,5640742,4520669,1,816,0,0,0.020
...,...,...,...,...,...,...,...,...,...
5995,506995,26,18253018,3690565,2,729,0,0,0.008
5996,506996,40,9944385,4082038,1,477,0,0,0.017
5997,506997,28,9048532,14760384,0,450,0,0,-0.054
5998,506998,51,6843160,11774594,0,561,0,0,0.026
5999,506999,35,12715733,8006387,0,774,0,0,0.008

In [4]:
df_2

      order_id  customer_id  order_date  payment_value decoy_flag  decoy_noise
0       101000          684  2024-01-29          38.93          A        39.51
1       101001          207  2024-06-29          59.52          B        38.97
2       101002          288  2024-03-20         355.52          B       338.14
3       101003          571  2024-02-24         157.65          C       121.69
4       101004          871  2024-01-11         287.68          C       254.92
...        ...          ...         ...            ...        ...          ...
9995    110995          271  2024-04-26          51.02          C        38.61
9996    110996           69  2024-05-16         186.42          A       154.21
9997    110997          974  2024-06-24          62.18          A        71.53
9998    110998          457  2024-01-31          74.09          B        58.13
9999    110999          346  2024-01-15         188.09          B       203.44

[10000 rows x 6 columns]